@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap");

/* .shippori-mincho-b1-regular {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
} */

* {
  font-family: "Shippori Mincho B1", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  width: 100vh;
}

.heading-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 450px;
  height: 500px;
  padding: 150px;
}

.form-group label {
  margin: 10px;
}

.form input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input:hover {
  border: 1px solid #3f3e42ff;
}

.form input:focus {
  border: none;
}

.form input:focus {
  border: 1px solid #3f3e42ff;
}

.checkbox-group {
  font-size: 0.9rem;
}

.checkbox-group a {
  margin: 10px;
  color: #e9402a;
}

.form button {
  margin: 10px;
  padding: 10px;
  width: 300px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #3f3e42ff;
  color: white;
  transition: transform 0.3s;
}

.form button:active {
  transform: translateY(2px);
}

.register-text {
  font-size: 1rem;
  margin: 10px;
}

.register-text a {
  color: #e9402a;
}

.secrets-container {
  font-size: 1.2rem;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* secondary Form */

/* Require visuals (accross all forms) */
.required {
  color: red;
}
