@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap");

* {
  font-family: "Shippori Mincho B1", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.heading-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 20px;
}

.form {
  display: none;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 450px;
  padding: 20px;
  background-color: #fdfdfd;
}

/* .form.active {
  display: flex;
} */

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input:hover {
  border: 1px solid #3f3e42;
}

.form input:focus {
  border: 1px solid #3f3e42;
  outline: none;
}

.checkbox-group {
  font-size: 0.9rem;
}

.checkbox-group a {
  margin: 10px;
  color: #e9402a;
}

.form button {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #3f3e42;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
}

.form button:active {
  transform: translateY(2px);
}

.form .prev-btn {
  background-color: #9ea2aa;
}

.form .submit-btn {
  background-color: #e9402a;
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.step.active {
  font-weight: bold;
  color: #3498db;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, #3498db, #2ecc71);
  transition: width 0.5s ease;
}

.form {
  display: none;
}

.form.active {
  display: block;
}
